<div class="page-title-area pt-130 pb-120 " style="background-image: url(/client/assets/img/bg/chechout-page-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-titel-detalis  ">
                    <div class="page-title position-relative">
                        <h2>Blog Page</h2>
                    </div>
                    <div class="page-bc">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"> <i
                                            class="fas fa-home "></i>Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a
                                        href="blog-page.html">Blog Page</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="product-area product-area-3 pt-45 ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title">
                    <h3>
                        Our Products
                    </h3>
                </div>
            </div>
        </div>
        <hr>

    </div>
    <div class="container pl-0 pr-0">
        <div class="custom-row ">
            <div class="product-active pt-30">
                <div class="col-xl-3">
                                                <div class="product-wrapper mb-30 " id="products">
                                                    
                                                </div>
                    <div class="product-wrapper">
                        <div class="product-img ">
                            <img src="/productImage/" alt="product">
                            <ul class="social-icon">
                                <li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="flip-box">
                            <div class="product-detalis pt-15 pl-20 pr-20 pb-25">
                                <span>Men Fashion</span>
                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                <div class="price-color ">
                                    <div class="price d-inline-block">
                                        <span>$999</span>
                                        <del>$899</del>
                                    </div>
                                    <div class="color float-right d-flex">
                                        <span>Color:</span>
                                        <div class="color-set">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-detalis product-detalis-2 pt-15 pl-20 pr-20 pb-25">
                                <span>Men Fashion</span>
                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                <div class="buy-info ">
                                    <div class="cart float-left">
                                        <a href="#"><img src="/client/assets/img/icon/cart-red.png" alt=""> Add To Cart</a>
                                    </div>
                                    <ul class="rating d-flex">
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="product-wrapper mb-30">
                        <div class="product-img sale-product ">
                            <img src="/client/assets/img/product/product-2.jpg" alt="product">
                            <ul class="social-icon">
                                <li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="flip-box">
                            <div class="product-detalis pt-15 pl-20 pr-20 pb-25">
                                <span>Men Fashion</span>
                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                <div class="price-color ">
                                    <div class="price d-inline-block">
                                        <span>$999</span>
                                        <del>$899</del>
                                    </div>
                                    <div class="color float-right d-flex">
                                        <span>Color:</span>
                                        <div class="color-set">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-detalis product-detalis-2 pt-15 pl-20 pr-20 pb-25">
                                <span>Men Fashion</span>
                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                <div class="buy-info ">
                                    <div class="cart float-left">
                                        <a href="#"><img src="/client/assets/img/icon/cart-red.png" alt=""> Add To Cart</a>
                                    </div>
                                    <ul class="rating d-flex">
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-img ">
                            <img src="/client/assets/img/product/product-31.png" alt="product">
                            <ul class="social-icon">
                                <li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="flip-box">
                            <div class="product-detalis pt-15 pl-20 pr-20 pb-25">
                                <span>Men Fashion</span>
                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                <div class="price-color ">
                                    <div class="price d-inline-block">
                                        <span>$999</span>
                                        <del>$899</del>
                                    </div>
                                    <div class="color float-right d-flex">
                                        <span>Color:</span>
                                        <div class="color-set">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-detalis product-detalis-2 pt-15 pl-20 pr-20 pb-25">
                                <span>Men Fashion</span>
                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                <div class="buy-info ">
                                    <div class="cart float-left">
                                        <a href="#"><img src="/client/assets/img/icon/cart-red.png" alt=""> Add To Cart</a>
                                    </div>
                                    <ul class="rating d-flex">
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="product-wrapper mb-30">
                        <div class="product-img ">
                            <img src="/client/assets/img/product/product-3.jpg" alt="product">
                            <ul class="social-icon">
                                <li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="flip-box">
                            <div class="product-detalis pt-15 pl-20 pr-20 pb-25">
                                <span>Women Fashion</span>
                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                <div class="price-color ">
                                    <div class="price d-inline-block">
                                        <span>$999</span>
                                        <del>$899</del>
                                    </div>
                                    <div class="color float-right d-flex">
                                        <span>Color:</span>
                                        <div class="color-set color-black">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-detalis product-detalis-2 pt-15 pl-20 pr-20 pb-25">
                                <span>Men Fashion</span>
                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                <div class="buy-info ">
                                    <div class="cart float-left">
                                        <a href="#"><img src="/client/assets/img/icon/cart-red.png" alt=""> Add To Cart</a>
                                    </div>
                                    <ul class="rating d-flex">
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper mb-30">
                        <div class="product-img ">
                            <img src="/client/assets/img/product/product-32.png" alt="product">
                            <ul class="social-icon">
                                <li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="flip-box">
                            <div class="product-detalis pt-15 pl-20 pr-20 pb-25">
                                <span>Women Fashion</span>
                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                <div class="price-color ">
                                    <div class="price d-inline-block">
                                        <span>$999</span>
                                        <del>$899</del>
                                    </div>
                                    <div class="color float-right d-flex">
                                        <span>Color:</span>
                                        <div class="color-set color-black">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-detalis product-detalis-2 pt-15 pl-20 pr-20 pb-25">
                                <span>Men Fashion</span>
                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                <div class="buy-info ">
                                    <div class="cart float-left">
                                        <a href="#"><img src="/client/assets/img/icon/cart-red.png" alt=""> Add To Cart</a>
                                    </div>
                                    <ul class="rating d-flex">
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="product-wrapper mb-30">
                        <div class="product-img new-product">
                            <img src="/client/assets/img/product/product-4.jpg" alt="product">
                            <ul class="social-icon">
                                <li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="flip-box">
                            <div class="product-detalis pt-15 pl-20 pr-20 pb-25">
                                <span>Women Fashion</span>
                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                <div class="price-color ">
                                    <div class="price d-inline-block">
                                        <span>$999</span>
                                        <del>$899</del>
                                    </div>
                                    <div class="color float-right d-flex">
                                        <span>Color:</span>
                                        <div class="color-set color-white">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-detalis product-detalis-2 pt-15 pl-20 pr-20 pb-25">
                                <span>Men Fashion</span>
                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                <div class="buy-info ">
                                    <div class="cart float-left">
                                        <a href="#"><img src="/client/assets/img/icon/cart-red.png" alt=""> Add To Cart</a>
                                    </div>
                                    <ul class="rating d-flex">
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-img new-product">
                            <img src="/client/assets/img/product/product-33.png" alt="product">
                            <ul class="social-icon">
                                <li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="flip-box">
                            <div class="product-detalis pt-15 pl-20 pr-20 pb-25">
                                <span>Women Fashion</span>
                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                <div class="price-color ">
                                    <div class="price d-inline-block">
                                        <span>$999</span>
                                        <del>$899</del>
                                    </div>
                                    <div class="color float-right d-flex">
                                        <span>Color:</span>
                                        <div class="color-set color-white">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-detalis product-detalis-2 pt-15 pl-20 pr-20 pb-25">
                                <span>Men Fashion</span>
                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                <div class="buy-info ">
                                    <div class="cart float-left">
                                        <a href="#"><img src="/client/assets/img/icon/cart-red.png" alt=""> Add To Cart</a>
                                    </div>
                                    <ul class="rating d-flex">
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="product-wrapper mb-30">
                        <div class="product-img ">
                            <img src="/client/assets/img/product/product-2.jpg" alt="product">
                            <ul class="social-icon">
                                <li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="flip-box">
                            <div class="product-detalis pt-15 pl-20 pr-20 pb-25">
                                <span>Men Fashion</span>
                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                <div class="price-color ">
                                    <div class="price d-inline-block">
                                        <span>$999</span>
                                        <del>$899</del>
                                    </div>
                                    <div class="color float-right d-flex">
                                        <span>Color:</span>
                                        <div class="color-set">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-detalis product-detalis-2 pt-15 pl-20 pr-20 pb-25">
                                <span>Men Fashion</span>
                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                <div class="buy-info ">
                                    <div class="cart float-left">
                                        <a href="#"><img src="/client/assets/img/icon/cart-red.png" alt=""> Add To Cart</a>
                                    </div>
                                    <ul class="rating d-flex">
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-img ">
                            <img src="/client/assets/img/product/product-31.png" alt="product">
                            <ul class="social-icon">
                                <li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="flip-box">
                            <div class="product-detalis pt-15 pl-20 pr-20 pb-25">
                                <span>Men Fashion</span>
                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                <div class="price-color ">
                                    <div class="price d-inline-block">
                                        <span>$999</span>
                                        <del>$899</del>
                                    </div>
                                    <div class="color float-right d-flex">
                                        <span>Color:</span>
                                        <div class="color-set">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-detalis product-detalis-2 pt-15 pl-20 pr-20 pb-25">
                                <span>Men Fashion</span>
                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                <div class="buy-info ">
                                    <div class="cart float-left">
                                        <a href="#"><img src="/client/assets/img/icon/cart-red.png" alt=""> Add To Cart</a>
                                    </div>
                                    <ul class="rating d-flex">
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        <li><i class="far fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="api/axios.min.js"></script>
<script src="api/jquery.min.js"></script>

<script>
    const setAll = () => {
        axios.get('/product/all').then(async(res) => {
            const data = res.data
            const appending = $("#products")
            await appending.html("")
            data.forEach((element) => {
                appending.append(`
                <div class="product-img ">
                        <img src="/productImage/${element.image[0]}" alt="product" >
                        <ul class="social-icon">
                            <li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="flip-box">
                        <div class="product-detalis pt-15 pl-20 pr-20 pb-25">
                            <span>Men Fashion</span>
                            <h6><a href="">${element.name}</a></h6>
                            <div class="price-color ">
                                <div class="price d-inline-block">
                                    <span>${element.price}</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-detalis product-detalis-2 pt-15 pl-20 pr-20 pb-25">
                            <div class="product-info">
                            <span>Men Fashion</span>
                            <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                            <div class="buy-info ">
                                <div class="cart float-left">
                                    <a href="#"><img src="/client/assets/img/icon/cart-red.png" alt=""> Add To Cart</a>

                                </div>
                                <ul class="rating d-flex">
                                    <li><i class="far fa-star" aria-hidden="true"></i></li>
                                    <li><i class="far fa-star" aria-hidden="true"></i></li>
                                    <li><i class="far fa-star" aria-hidden="true"></i></li>
                                    <li><i class="far fa-star" aria-hidden="true"></i></li>
                                    <li><i class="far fa-star" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            </div>
                        </div>
                    </div>
      
                `)
            })
        })
    }


</script>